# Analyze a Dataset and use Random Forest to Dermine the price of the car depending their features

In [8]:
import pandas as pd


data = pd.read_csv('used_car_dataset.csv')
data.head()

,car_name,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,₹ 4.45 Lakh,"22,402 km",Petrol,Mumbai,2016
1,Maruti Suzuki Alto 800 Lxi,₹ 2.93 Lakh,"10,344 km",Petrol,Kolkata,2019
2,Tata Safari XZ Plus New,₹ 22.49 Lakh,"12,999 km",Diesel,Bangalore,2021
3,Maruti Suzuki Ciaz ZXI+,₹ 6.95 Lakh,"45,000 km",Petrol,Thane,2016
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],₹ 12 Lakh,"11,193 km",Petrol,Kolkata,2019

In [9]:
duplicates = data.duplicated()
print("Number of duplicate entries:", duplicates.sum())

Number of duplicate entries: 92

In [10]:

print(data.isnull().sum())

car_name               0
car_price_in_rupees    0
kms_driven             0
fuel_type              0
city                   0
year_of_manufacture    0
dtype: int64

In [11]:
print("Number of unique cars:", data['car_name'].nunique())
print("Summary statistics for car prices:", data['car_price_in_rupees'].describe())
print("Number of cars in each fuel type:", data['fuel_type'].value_counts())

Number of unique cars: 946
Summary statistics for car prices: count            2105
unique            811
top       ₹ 4.75 Lakh
freq               23
Name: car_price_in_rupees, dtype: object
Number of cars in each fuel type: Petrol        1348
Diesel         636
CNG             82
Petrol + 1      18
Electric        10
Diesel + 1       7
Hybrid           2
LPG              2
Name: fuel_type, dtype: int64

## Cleaning prince column